<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Contacts</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Thymeleaf Demo</h1>

	<p>
		As Thymeleaf is a relatively new presentation system, here is a simple
		page with content to show the typical use of Thymeleaf. Take a look at
		<tt>src/main/resources/templates/contacts.html</tt>
		to see how it works. By default Spring Boot configures Thymeleaf to
		find its files under the
		<tt>src/main/resources/templates</tt>
		directory .
	</p>

	<table th:if="${not #lists.isEmpty(contacts)}">
		<tr>
			<th>First Name &nbsp;</th>
			<th>Surname</th>
		</tr>
		<tr th:each="contact : ${contacts}">
			<td th:text="${contact.firstName}">Unknown</td>
			<td th:text="${contact.lastName}">Unknown</td>
		</tr>
	</table>

</body>
</html>
