<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="header :: copy"></head>

<body>

	<h1>Exceptions Demo V2</h1>
	<h3>Details</h3>
	<ul>
		<li>Demo running with profile: <i th:text="${profiles}">profiles</i>
			<br />To change the profile, edit <a
			href="https://github.com/paulc4/mvc-exceptions/blob/master/src/main/java/demo1/main/Main.java"><code>Main.java</code></a>
			and change the value of the <code>ActiveProfiles</code> data-member.
		</li>
		<li>See <a
			href="https://spring.io/blog/2013/11/01/exception-handling-in-spring-mvc">
				Blog</a> for more details.
		</li>
		<li>Profile <a
			href="https://spring.io/blog/2013/11/01/exception-handling-in-spring-mvc#sample-application-and-spring-boot">discussion</a>
			in the Blog.
		</li>
		<li>Demo uses the <a href="http://thymeleaf.org">Thymeleaf</a>
			view generation system to generate HTML pages (a nice alternative to
			JSP that cn be configured by Spring Boot automatically).
		</li>
	</ul>
	<p>
		Spring-Boot sets up <i>error</i> view as the default error-page and we
		are using Thymeleaf to define it via the <i>error.html</i> template
		(if you don't configure the Spring Boot error page you see the
		so-called "Whitelabel Error Page").
	</p>
	<p>
		Without Spring Boot you would see your containers default error page.
		Rename <i>error.html</i> to <i>error2.html</i> to see the difference.
	</p>

	<p>The previous version of this demo tried to show everything on
		one page. It has been broken down into different pages for clarity.</p>

	<h3>The Demo</h3>
	<ul class="openlist">
		<li><a href="/local/">Local Exception Handling</a> - Exceptions
			handled in the Controller.<br /> URLs on this page are handled by
			the <a
			href="https://github.com/paulc4/mvc-exceptions/blob/master/src/main/java/demo1/web/ExceptionHandlingController.java">demo1.web.ExceptionHandlingController</a>
			which handles its own exceptions using its own <code>@ExceptionHandler</code>
			methods.</li>
		<li><a href="/global/">Global Exception Handling</a> - Exceptions
			handled by a Controller Advice.<br />URLs on this page are handled
			by the <a
			href="https://github.com/paulc4/mvc-exceptions/blob/master/src/main/java/demo2/web/ControllerWithoutExceptionHandlers.java">demo2.web.ControllerWithoutExceptionHandlers</a>
			which relies on a Controller Advice<a
			href="https://github.com/paulc4/mvc-exceptions/blob/master/src/main/java/demo2/web/GlobalExceptionHandlingControllerAdvice.java">demo2.web.GlobalExceptionHandlingControllerAdvice</a>
			to handle any exceptions thrown.</li>
		<li><a href="/simpleMappingExceptionResolver/on">Simple
				Mapping Exception Resolver</a> - Exceptions handled by exception
			resolving bean<br />Exceptions raised by <a
			href="https://github.com/paulc4/mvc-exceptions/blob/master/src/main/java/demo3/web/ExceptionThrowingController.java"><code>ExceptionThrowingController</code></a>
		</li>
		<li><a href="/simpleMappingExceptionResolver/off">No Handler
				for Exceptions</a><br />For comparison, the same exceptions as previous
			option, but with the <code>SimpleMappingExceptionResolver</code>
			disabled to see what you get by default. Exceptions are not totally
			unhandled because Server 500 errors are caught by Spring Boot's
			default error page - mapped to <code>error.html</code>.</li>
	</ul>

	<h3>Spring Boot URLs</h3>
	<p>For those interested, Spring Boot provides RESTful URLs for
		interrogating your application (they return JSON format data):</p>

	<ul>
		<li><a th:href="@{/beans}">The beans</a></li>
		<li><a th:href="@{/env}">The environment</a></li>
		<li><a th:href="@{/dump}">Thread dump</a></li>
		<li><a th:href="@{/health}">Application health</a></li>
		<li><a th:href="@{/info}">Application information</a></li>
		<li><a th:href="@{/metrics}">Application metrics</a></li>
		<li><a th:href="@{/trace}">Request call trace</a></li>
	</ul>

	<div th:substituteby="footer :: copy"></div>

</body>
</html>
