<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="header :: copy"></head>

<body>

	<h1>Exceptions Demo 1</h1>
	<h2>Controller Exception Handling</h2>

	<h3>Summary</h3>
	<ul>
		<li>Demo running with profiles: <i th:text="${profiles}">profiles</i>
		</li>
		<li>Key classes: <code>ExceptionHandlingController</code>.
		</li>
		<li>See <a
			href="https://spring.io/blog/2013/11/01/exception-handling-in-spring-mvc">
				Blog</a> for more details.
		</li>
	</ul>

	<h3>Details</h3>
	<p>
		The exceptions below are thrown and handled within the same Controller
		using its own
		<code>@ExceptionHandler</code>
		methods. The controller is <a
			href="https://github.com/paulc4/mvc-exceptions/blob/master/src/main/java/demo1/web/ExceptionHandlingController.java">demo1.web.ExceptionHandlingController</a>.
	</p>
	<p>To fully understand this demo, review the output in the server
		(console) log as you click the links below.</p>

	<p>
		The behavior of this demo is the same as <a href="/global">Demo 2</a>
		- just implemented differently.
	</p>

	<h3>Demo</h3>
	<ul class="openlist">
		<li>Throw <a href="/local/orderNotFound">OrderNotFoundException</a>
			- should generate a 404 (in the Spring Boot error page).
		</li>
		<li>Throw <a href="/local/dataIntegrityViolation">DataIntegrityViolationException</a>
			- should generate a 409 (in the Spring Boot error page).
		</li>
		<li>Throw <a href="/local/databaseError1">SQLException</a> -
			should return a specific database-error page.
		</li>
		<li>Throw <a href="/local/databaseError2">DataAccessException</a>
			- should also return the database-error page. Demonstrates catching
			multiple exceptions with one handler.
		</li>
	</ul>

	<p>
		Demo 2: <a href="/global/">Global Exception Handling</a> - using a
		Controller Advice
	</p>

	<div th:substituteby="footer :: copy"></div>

</body>
</html>
